<div id="twitter-box">
  <b>Twitter status: </b> ~~~~~~~~~~
</div>
<div id="blog-posts-box">
<table>
  <tr>
  </tr>

<% for post in @recent_posts %>
  <tr>
    <td><%= post.id %></td>
    <td><%= post.title %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />